@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  /* padding: 0 50px; */
  overflow: hidden;
}

h1 {
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 50px;
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 span {
  font-weight: 300;
}

.slide {
  display: flex;
  gap: 30px;
}

.slide:active{
  cursor: grabbing;
}

.slide div {
  flex: 1 0 700px;
  transform: scale(.8);
  transition: .3s;
  border-radius: 4px;
  opacity: .8;
  overflow: hidden;
  will-change: transform;
}

.slide div.active{
  transform: scale(1);
  opacity: 1;
}

.controls{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.controls button{
  width: 130px;
  padding: 10px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background-color: #84e;
  border: none;
  border-radius: 4px;
  color: white;
  transition: .3s;
}

.controls button:hover{
  background-color: rgba(136, 68, 238, 0.8);
}

@media screen and (max-width: 600px) {
  .slide div {
    flex-basis: 300px;
  }
  h1 {
    padding: 0 30px;
    text-align: left;
    max-width: 15ch;
    margin-left: 0;
    margin-right: 0;
  }
  .controls{
    gap: 20px;
  }
  .controls button{
    padding: 7px;
    width: 100px;
  }
}
